services:
  backend:
    build:
      context: ./anki_web_app
      dockerfile: Dockerfile
    container_name: spanish_anki_backend_prod
    command: gunicorn
    volumes:
      - ./anki_web_app:/app
      - ./data:/app/data
      - static_volume:/app/staticfiles
    env_file:
      - .env.prod
    environment:
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=spanish_anki_project.settings
    networks:
      - app_services_network
    restart: unless-stopped

  frontend:
    build:
      context: ./anki_web_app/spanish_anki_frontend
      dockerfile: Dockerfile
      target: production
      args:
        SUPABASE_URL: ${SUPABASE_URL}
        SUPABASE_ANON_KEY: ${SUPABASE_ANON_KEY}
    container_name: spanish_anki_frontend_prod
    env_file:
      - .env.prod
    networks:
      - app_services_network
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    container_name: spanish_anki_nginx_prod
    ports:
      - "8080:80"
    volumes:
      - ./nginx/production.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/static:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app_services_network
    restart: unless-stopped

volumes:
  static_volume:

networks:
  app_services_network:
    driver: bridge
    name: spanish_anki_app_net_prod
