services:
  backend:
    build:
      context: ./anki_web_app
      dockerfile: Dockerfile
    container_name: spanish_anki_backend_prod
    command: gunicorn
    volumes:
      - ./anki_web_app:/app
      - ./data:/app/data
      - static_volume:/app/staticfiles
    env_file:
      - .env.prod
    environment:
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=spanish_anki_project.settings
    networks:
      - app_services_network
    restart: unless-stopped

  frontend:
    build:
      context: ./anki_web_app/spanish_anki_frontend
      dockerfile: Dockerfile
      target: production
    container_name: spanish_anki_frontend_prod
    networks:
      - app_services_network
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    container_name: spanish_anki_nginx_prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/production.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - certbot-etc:/etc/letsencrypt:ro
      - certbot-var:/var/lib/letsencrypt:ro
      - static_volume:/static:ro
      - certbot-www:/var/www/certbot:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app_services_network
    restart: unless-stopped
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    container_name: spanish_anki_certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-www:/var/www/certbot
    networks:
      - app_services_network
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  static_volume:
  certbot-etc:
  certbot-var:
  certbot-www:

networks:
  app_services_network:
    driver: bridge
    name: spanish_anki_app_net_prod
